*.iml
*.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/buildSrc/build
/noisefit_libraries/build
/noisefit_ryeex_sdk/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/uat
/app/staging
/app/live
.gradle/
.idea/