<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.noisefit_cf2">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <application>
        <service
            android:name="com.ido.ble.dfu.DFUService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.realsil.sdk.dfu.DfuService"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>