<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/> -->

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!--<uses-permission android:name="android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND"/>
            <uses-permission android:name="android.permission.REQUEST_COMPANION_START_FOREGROUND_SERVICES_FROM_BACKGROUND"/>
            <uses-permission android:name="android.permission.REQUEST_COMPANION_USE_DATA_IN_BACKGROUND"/>-->

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <!--<uses-feature android:name="android.software.companion_device_setup"/>-->
    <application
        android:name="com.noisefit.NoiseFitApplicationMain"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoiseFit"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">

        <service
            android:name="com.noisefit_commans.location.LocationService"
            android:foregroundServiceType="location" />
        <service
            android:name="com.noisefit_commans.location.LocationService2"
            android:foregroundServiceType="location" />

        <activity
            android:name="com.noisefit.ui.onboarding.onboardProfile.GuestProfileSetupActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.oreo.ui.femalehealth.cycletracker.LogPeriodActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.noisefit.ui.onboarding.pairing.PairDeviceActivity"
            android:exported="true"
            android:screenOrientation="portrait">


            <!--
                                    <intent-filter>
                                        <action android:name="android.intent.action.MAIN" />

                                        <category android:name="android.intent.category.LAUNCHER" />
                                    </intent-filter>
                                    -->
        </activity>
        <activity
            android:name="com.noisefit.ui.onboarding.AllDoneActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.noisefit.ui.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="lunaringapp.page.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync" />

        <activity
            android:name="com.noisefit.ui.onboarding.OnBoardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.noisefit.ui.profile.ProfilePicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.noisefit.ui.onboarding.pairing.DeviceSetupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.noisefit.ui.onboarding.onboardProfile.ProfileSetupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.noisefit.ui.web.WebViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.noisefit.ui.dashboard.graphs.HistoryCalendarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.noisefit.ui.media.VideoPlayerActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="com.noisefit_commans.services.LocationUpdatesIntentService"
            android:exported="true" />

        <receiver
            android:name="com.noisefit_commans.services.LocationUpdatesBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.noisefit_commans.services.ACTION_PROCESS_UPDATES" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.noisefit.receiver.broadcastReceiver.OtpBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.gms.auth.api.phone.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.oreo.receiver.service.RingConnectionService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="connectedDevice"
            android:stopWithTask="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${google_client_id}" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${crashlyticsCollectionEnabled}" />
        <!--        <meta-data-->
        <!--            android:name="CLEVERTAP_ACCOUNT_ID"-->
        <!--            android:value="${cleverTapId}" />-->
        <!--        <meta-data-->
        <!--            android:name="CLEVERTAP_NOTIFICATION_ICON"-->
        <!--            android:value="ic_luna_logo_short" />-->
        <!--        <meta-data-->
        <!--            android:name="CLEVERTAP_TOKEN"-->
        <!--            android:value="${cleverTapToken}" /> &lt;!&ndash; IMPORTANT: To force use Google AD ID to uniquely identify  users, use the following meta tag. GDPR mandates that if you are using this tag, there is prominent disclousure to your end customer in their application. Read more about GDPR here - https://clevertap.com/blog/in-preparation-of-gdpr-compliance/ &ndash;&gt;-->
        <!--        <meta-data-->
        <!--            android:name="CLEVERTAP_USE_GOOGLE_AD_ID"-->
        <!--            android:value="1" />-->
        <!--        <meta-data-->
        <!--            android:name="CLEVERTAP_REGION"-->
        <!--            android:value="in1" />-->
        <meta-data
            android:name="FCM_SENDER_ID"
            android:value="id:692776363643" />
        <!--        <meta-data-->
        <!--            android:name="CLEVERTAP_INAPP_EXCLUDE"-->
        <!--            android:value="com.noisefit.SplashActivity" />-->
        <!--        <meta-data-->
        <!--            android:name="CLEVERTAP_BACKGROUND_SYNC"-->
        <!--            android:value="1" />-->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icon_transparent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="NOISE_PUSH_CHANNEL"
            tools:replace="android:value" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />


        <service
            android:name="com.noisefit.receiver.service.NotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>
        <provider
            android:name="com.noisefit.util.exception.UncaughtExceptionHandlerContentProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="false"
            android:initOrder="101" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.noisefit.luna.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <provider
            android:name="com.noisefit.util.exception.UncaughtExceptionHandlerContentProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="false"
            android:initOrder="101" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.noisefit.luna.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/freshchat_file_provider_paths" />
        </provider>

        <receiver
            android:name="com.noisefit.receiver.broadcastReceiver.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name="com.noisefit.receiver.broadcastReceiver.ConnectionStartReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.noisefit.oreo.OreoMainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentBgTheme">
            <nav-graph android:value="@navigation/navigation_oreo" />
        </activity>
        <activity
            android:name="com.noisefit.ui.onboarding.setup.DeviceSetupActivityV2"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>